:root {
  color-scheme: light dark;

  /* --light-bg: ghostwhite; */
  --light-color: rgb(0, 0, 0);
  --light-code: tomato;

  /* --dark-bg: #222335c9; */
  --dark-color: #69a2ee;
  --dark-code: gold;
}

* {
  background-color: light-dark(var(--light-bg), var(--dark-bg));
  color: light-dark(var(--light-color), var(--dark-color));
}

code {
  color: light-dark(var(--light-code), var(--dark-code));
}

.light {
  /* forces light color-scheme */
  color-scheme: light;
}

.dark {
  /* forces dark color-scheme */
  color-scheme: dark;
}

/* @media (min-width: 768px) {
  html {
    font-size: 16px;
  }
} */

@media (prefers-color-scheme: dark) {
  html{
    background-image: url("/wwwroot/dark.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
  }
}

@media(prefers-color-scheme: light) {
  html{
    background-image: url("/wwwroot/light.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
  }
}


html {
  position: relative;
  min-height: 100%;
  font-size: 14px;
}

body {
  margin-bottom: 60px;
}

::placeholder {
  color: light-dark(rgb(102, 98, 98),#3e6597);
  opacity: 1; /* Firefox */
}

.foundPlayer {
  cursor: pointer;
  border: 3px;
  border-color: light-dark(black,#2b7ac4);
  border-style: solid;
  max-width: 100%;
  min-width: 200px;
  text-align: center;
  background-color: light-dark(aliceblue, #1f1e27);
}

.hidden {
  display: none;
}

.warningText {
  color: red;
  font-style: italic;
  font-weight: bold;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.games_sidebar {
  width: 300px;
  height: 100vh;
  border-right: 2px solid #ccc;
  padding: 50px;
}

.games_sidebar input {
  width: 100%;
  margin-bottom: 10px;
  font-size: 13px;
  padding: 10px;
}

.games_sidebar button {
  margin-bottom: 10px;
  outline: none;
  border: none;
  background-color: light-dark(#353535,#0f355c);
  color: light-dark(#fff,#69a2ee);
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
}

.games_container {
  width: 100%;
  padding: 20px;
  flex: 1;
  display: flex;
  flex-direction:row;
  flex-wrap: wrap;
  justify-content: left;
}

.gamesHeader {
  width: 100%;
  text-align: center;
  border-bottom: solid 3px;
  margin-bottom: 20px;
  }
  
.game {
  padding: 10px;
  width: 20%;
  overflow: hidden;
  margin-right: 30px;
  margin-bottom: 30px;
  background-color: light-dark(aliceblue, #1f1e27);
  min-width: 150px;
  max-width: 250px;
  border: 2px solid light-dark(#353535,#2b7ac4);
  cursor: pointer;
  font-weight: bold;
}

.game ul {
  background-color: inherit;
  font-size: 15px;
}

.game li {
  background-color: inherit;
  font-size: 13px;;
}

.game:hover {
  background-color: rgba(93, 102, 126, 0.322);
}

.game h2 {
  margin-bottom: 10px;
  background-color: inherit;
  text-align: center;
}

.game p {
  max-height: 200px;
  overflow: auto;
  margin-bottom: 10px;
  font-size: 15px;
  background-color: inherit;
}

.Selectedgame {
  padding: 10px;
  width: 20%;
  overflow: hidden;
  margin-right: 30px;
  margin-bottom: 30px;
  background-color: light-dark(rgb(93, 226, 171), #0b0633);
  min-width: 150px;
  max-width: 250px;
  border: 2px solid light-dark(#353535,#9cc5fc);
  cursor: pointer;
  font-weight: bold;
}

.Selectedgame h2 {
  margin-bottom: 10px;
  background-color: inherit;
  text-align: center;
}

.Selectedgame p {
  max-height: 200px;
  overflow: auto;
  margin-bottom: 10px;
  font-size: 15px;
  background-color: inherit;
}

.addGameContainer {
  padding: 10px;
  width: 20%;
  overflow: hidden;
  margin-left: 30px;
  margin-bottom: 30px;
  min-width: 150px;
  max-width: 450px;
  font-size: 14;
}

.addGameContainer h1 {
  color: light-dark(black,#69a2ee);
  text-align: center;

}

.addGameContainer input {
  width: 90%;
  margin-bottom: 10px;
  font-size: 15px;
  padding: 10px;
  font-weight: bold;
  border: 3px solid #464a50;
}

.addGameContainer button {
  margin-bottom: 10px;
  outline: none;
  border: none;
  background-color: light-dark(#353535,#0f355c);
  color: light-dark(#fff,#69a2ee);
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
}

.backImage {
  border: 5px solid black;
}

/* Admin Container Items */
.admin_container {
  width: 100%;
  padding: 20px;
  flex: 1;
  display: flex;
  flex-direction:row;
  flex-wrap: wrap;
  justify-content: left;
}

.userAdminHeader {
  width: 100%;
  border-bottom: solid 3px;
  margin-bottom: 20px;
}

.userAdmin {
  padding: 10px;
  width: 20%;
  overflow: hidden;
  margin-right: 30px;
  margin-bottom: 30px;
  background-color: light-dark(rgb(93, 226, 171), #0b0633);
  min-width: 150px;
  max-width: 250px;
  border: 2px solid light-dark(#353535,#9cc5fc);
  cursor: pointer;
  font-weight: bold;
}

.userAdmin h2 {
  margin-bottom: 10px;
  background-color: inherit;
  text-align: center;
}

.userAdmin p {
  max-height: 200px;
  overflow: auto;
  margin-bottom: 10px;
  font-size: 15px;
  background-color: inherit;
}

.userNonAdmin {
  padding: 10px;
  width: 20%;
  overflow: hidden;
  margin-right: 30px;
  margin-bottom: 30px;
  background-color: light-dark(aliceblue, #1f1e27);
  min-width: 150px;
  max-width: 250px;
  border: 2px solid light-dark(#353535,#2b7ac4);
  cursor: pointer;
  font-weight: bold;
}

.userNonAdmin h2 {
  margin-bottom: 10px;
  background-color: inherit;
  text-align: center;
}

.userNonAdmin p {
  max-height: 200px;
  overflow: auto;
  margin-bottom: 10px;
  font-size: 15px;
  background-color: inherit;
}

.adminPlayer_container {
  width: 100%;
  padding: 20px;
  flex: 1;
  display: flex;
  flex-direction:row;
  flex-wrap: wrap;
  justify-content: left;
}

.playerAdminHeader {
  width: 100%;
  border-bottom: solid 3px;
  margin-bottom: 20px;
}

.playerAdmin {
  padding: 10px;
  width: 20%;
  overflow: hidden;
  margin-right: 30px;
  margin-bottom: 30px;
  background-color: light-dark(aliceblue, #1f1e27);
  min-width: 150px;
  max-width: 250px;
  border: 2px solid light-dark(#353535,#2b7ac4);
  cursor: pointer;
  font-weight: bold;
}

.playerAdmin h2 {
  margin-bottom: 10px;
  background-color: inherit;
  text-align: center;
}

.playerAdmin p {
  max-height: 200px;
  overflow: auto;
  margin-bottom: 10px;
  font-size: 15px;
  background-color: inherit;
}

.selectedPlayerAdmin {
  padding: 10px;
  width: 20%;
  overflow: hidden;
  margin-right: 30px;
  margin-bottom: 30px;
  background-color: light-dark(rgb(93, 226, 171), #0b0633);
  min-width: 150px;
  max-width: 250px;
  border: 2px solid light-dark(#353535,#9cc5fc);
  cursor: pointer;
  font-weight: bold;
}

.selectedPlayerAdmin h2 {
  margin-bottom: 10px;
  background-color: inherit;
  text-align: center;
}

.selectedPlayerAdmin p {
  max-height: 200px;
  overflow: auto;
  margin-bottom: 10px;
  font-size: 15px;
  background-color: inherit;
}

.recordGamePlay {
  padding: 10px;
  width: 20%;
  overflow: hidden;
  margin-right: 30px;
  margin-bottom: 30px;
  background-color: light-dark(aliceblue, #1f1e27);
  min-width: 150px;
  max-width: 250px;
  border: 2px solid light-dark(#353535,#2b7ac4);
  font-weight: bold;
}

.recordGamePlay h2 {
  margin-bottom: 10px;
  background-color: inherit;
  text-align: center;
}

.recordGamePlay p {
  max-height: 200px;
  overflow: auto;
  margin-bottom: 10px;
  font-size: 15px;
  background-color: inherit;
}

.recordGamePlay button{
  margin-bottom: 5px;
  outline: none;
  border: none;
  background-color: light-dark(#353535,#0f355c);
  color: light-dark(#fff,#69a2ee);
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  font-size:9px;
  
}
.recordGamePlay input {
  margin-bottom: 10px;
  font-size: 10px;
  padding: 5px;
  font-weight: bold;
  border: 3px solid #464a50;
}

