:root {
  color-scheme: light dark;

  /* --light-bg: ghostwhite; */
  --light-color: rgb(0, 0, 0);
  --light-code: tomato;

  /* --dark-bg: #222335c9; */
  --dark-color: #69a2ee;
  --dark-code: gold;
}

* {
  background-color: light-dark(var(--light-bg), var(--dark-bg));
  color: light-dark(var(--light-color), var(--dark-color));
}

code {
  color: light-dark(var(--light-code), var(--dark-code));
}

.light {
  /* forces light color-scheme */
  color-scheme: light;
}

.dark {
  /* forces dark color-scheme */
  color-scheme: dark;
}

/* @media (min-width: 768px) {
  html {
    font-size: 16px;
  }
} */

@media (prefers-color-scheme: dark) {
  html{
    background-image: url("/wwwroot/dark.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
  }
}

@media(prefers-color-scheme: light) {
  html{
    background-image: url("/wwwroot/light.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
  }
}


html {
  position: relative;
  min-height: 100%;
  font-size: 14px;
}

body {
  margin-bottom: 60px;
}

::placeholder {
  color: light-dark(rgb(102, 98, 98),#3e6597);
  opacity: 1; /* Firefox */
}

.foundPlayer {
  cursor: pointer;
  border: 3px;
  border-color: light-dark(black,#2b7ac4);
  border-style: solid;
  max-width: 100%;
  min-width: 200px;
  text-align: center;
  background-color: light-dark(aliceblue, #1f1e27);
}

.hidden {
  display: none;
}

.warningText {
  color: red;
  font-style: italic;
  font-weight: bold;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.games_sidebar {
  width: 270px;
  height: 100vh;
  border-right: solid 2px light-dark( #ccc, #2353ad);
  padding: 50px;
}

.games_sidebar input {
  width: 100%;
  margin-bottom: 10px;
  font-size: 13px;
  padding: 10px;
}

.games_sidebar button {
  margin-bottom: 10px;
  outline: none;
  border: none;
  background-color: light-dark(#353535,#0f355c);
  color: light-dark(#fff,#69a2ee);
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
}

.games_container {
  width: 100%;
  padding: 20px;
  flex: 1;
  display: flex;
  flex-direction:row;
  flex-wrap: wrap;
  justify-content: left;
}

.gamesHeader {
  width: 100%;
  text-align: center;
  border-bottom: solid 3px;
  margin-bottom: 20px;
  }
  
.game {
  padding: 10px;
  width: 20%;
  overflow: hidden;
  margin-right: 30px;
  margin-bottom: 30px;
  background-color: light-dark(aliceblue, #1f1e27);
  min-width: 150px;
  max-width: 250px;
  border: 2px solid light-dark(#353535,#2b7ac4);
  cursor: pointer;
  font-weight: bold;
}

.game ul {
  background-color: inherit;
  font-size: 15px;
}

.game li {
  background-color: inherit;
  font-size: 13px;;
}

.game:hover {
  background-color: rgba(93, 102, 126, 0.322);
}

.game h2 {
  margin-bottom: 10px;
  background-color: inherit;
  text-align: center;
}

.game p {
  max-height: 200px;
  overflow: auto;
  margin-bottom: 10px;
  font-size: 15px;
  background-color: inherit;
}

.Selectedgame {
  padding: 10px;
  width: 20%;
  overflow: hidden;
  margin-right: 30px;
  margin-bottom: 30px;
  background-color: light-dark(rgb(93, 226, 171), #0b0633);
  min-width: 150px;
  max-width: 250px;
  border: 2px solid light-dark(#353535,#9cc5fc);
  cursor: pointer;
  font-weight: bold;
}

.Selectedgame h2 {
  margin-bottom: 10px;
  background-color: inherit;
  text-align: center;
}

.Selectedgame p {
  max-height: 200px;
  overflow: auto;
  margin-bottom: 10px;
  font-size: 15px;
  background-color: inherit;
}

.addGameContainer {
  padding: 10px;
  width: 20%;
  overflow: hidden;
  margin-left: 30px;
  margin-bottom: 30px;
  min-width: 150px;
  max-width: 450px;
  font-size: 14;
}

.addGameContainer h1 {
  color: light-dark(black,#69a2ee);
  text-align: center;

}

.addGameContainer input {
  width: 90%;
  margin-bottom: 10px;
  font-size: 15px;
  padding: 10px;
  font-weight: bold;
  border: 3px solid #464a50;
}

.addGameContainer button {
  margin-bottom: 10px;
  outline: none;
  border: none;
  background-color: light-dark(#353535,#0f355c);
  color: light-dark(#fff,#69a2ee);
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
}

.backImage {
  border: 5px solid black;
}

/* Admin Container Items */
.admin_container {
  width: 100%;
  padding: 20px;
  flex: 1;
  display: flex;
  flex-direction:row;
  flex-wrap: wrap;
  justify-content: left;
}

.userAdminHeader {
  width: 100%;
  border-bottom: solid 3px;
  margin-bottom: 20px;
}

.userAdmin {
  padding: 10px;
  width: 20%;
  overflow: hidden;
  margin-right: 30px;
  margin-bottom: 30px;
  background-color: light-dark(rgb(93, 226, 171), #0b0633);
  min-width: 150px;
  max-width: 250px;
  border: 2px solid light-dark(#353535,#9cc5fc);
  cursor: pointer;
  font-weight: bold;
}

.userAdmin h2 {
  margin-bottom: 10px;
  background-color: inherit;
  text-align: center;
}

.userAdmin p {
  max-height: 200px;
  overflow: auto;
  margin-bottom: 10px;
  font-size: 15px;
  background-color: inherit;
}

.userNonAdmin {
  padding: 10px;
  width: 20%;
  overflow: hidden;
  margin-right: 30px;
  margin-bottom: 30px;
  background-color: light-dark(aliceblue, #1f1e27);
  min-width: 150px;
  max-width: 250px;
  border: 2px solid light-dark(#353535,#2b7ac4);
  cursor: pointer;
  font-weight: bold;
}

.userNonAdmin h2 {
  margin-bottom: 10px;
  background-color: inherit;
  text-align: center;
}

.userNonAdmin p {
  max-height: 200px;
  overflow: auto;
  margin-bottom: 10px;
  font-size: 15px;
  background-color: inherit;
}

.adminPlayer_container {
  width: 100%;
  padding: 20px;
  flex: 1;
  display: flex;
  flex-direction:row;
  flex-wrap: wrap;
  justify-content: left;
}

.playerAdminHeader {
  width: 100%;
  border-bottom: solid 3px;
  margin-bottom: 20px;
}

.playerAdmin {
  padding: 10px;
  width: 20%;
  overflow: hidden;
  margin-right: 30px;
  margin-bottom: 30px;
  background-color: light-dark(aliceblue, #1f1e27);
  min-width: 150px;
  max-width: 250px;
  border: 2px solid light-dark(#353535,#2b7ac4);
  cursor: pointer;
  font-weight: bold;
}

.playerAdmin h2 {
  margin-bottom: 10px;
  background-color: inherit;
  text-align: center;
}

.playerAdmin p {
  max-height: 200px;
  overflow: auto;
  margin-bottom: 10px;
  font-size: 15px;
  background-color: inherit;
}

.selectedPlayerAdmin {
  padding: 10px;
  width: 20%;
  overflow: hidden;
  margin-right: 30px;
  margin-bottom: 30px;
  background-color: light-dark(rgb(93, 226, 171), #0b0633);
  min-width: 150px;
  max-width: 250px;
  border: 2px solid light-dark(#353535,#9cc5fc);
  cursor: pointer;
  font-weight: bold;
}

.selectedPlayerAdmin h2 {
  margin-bottom: 10px;
  background-color: inherit;
  text-align: center;
}

.selectedPlayerAdmin p {
  max-height: 200px;
  overflow: auto;
  margin-bottom: 10px;
  font-size: 15px;
  background-color: inherit;
}

.recordGamePlay {
  padding: 10px;
  width: 20%;
  overflow: hidden;
  margin-right: 30px;
  margin-bottom: 30px;
  background-color: light-dark(aliceblue, #1f1e27);
  min-width: 150px;
  max-width: 250px;
  border: 2px solid light-dark(#353535,#2b7ac4);
  font-weight: bold;
}

.recordGamePlay h2 {
  margin-bottom: 10px;
  background-color: inherit;
  text-align: center;
}

.recordGamePlay p {
  max-height: 200px;
  overflow: auto;
  margin-bottom: 10px;
  font-size: 15px;
  background-color: inherit;
}
/* dice stuff */

.headerContainer {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction:row;
  flex-wrap: wrap;
  justify-content: left;
}

.diceroll-container{
  display: grid;
  grid-template-columns: 1fr;
  height: 140px;
  overflow: hidden;
  width: 12%;
  border-bottom: solid 2px light-dark( #ccc, #2353ad);

}

.titleContainer{
  display: grid;
  grid-template-columns: 1fr;
  height: 140px;
  overflow: hidden;
  width: 76%;
  border-bottom: solid 2px light-dark( #ccc, #2353ad);
  justify-content: center;
  text-align: center;
}


.titleContainer h1 {
  font-size: 55px;
  font-family:Comic Sans MS, Comic Sans, cursive
}

.dice {
  align-items: center;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
  grid-template-rows: auto;
  justify-items: left;
  padding: 2rem;
  perspective: 1300px;  
}

.dice2 {
  align-items: center;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
  grid-template-rows: auto;
  justify-items: right;
  padding: 2rem;
  perspective: 1500px;  
}

.die-list {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  height: 6rem;
  list-style-type: none;
  transform-style: preserve-3d;
  width: 6rem;
}
.even-roll {
  transition: transform 1.5s ease-out;
}
.odd-roll {
  transition: transform 1.25s ease-out;
}
.die-item {
  background-color: #fefefe;
  box-shadow: inset -0.35rem 0.35rem 0.75rem rgba(0, 0, 0, 0.3),
    inset 0.5rem -0.25rem 0.5rem rgba(0, 0, 0, 0.15);
  display: grid;
  grid-column: 1;
  grid-row: 1;
  grid-template-areas:
    "one two three"
    "four five six"
    "seven eight nine";
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  height: 50%;
  padding: 0.4rem;
  width: 50%;
}
.dot {
  align-self: center;
  background-color: #676767;
  border-radius: 50%;
  box-shadow: inset -0.15rem 0.15rem 0.25rem rgba(0, 0, 0, 0.5);
  display: block;
  height: 1rem;
  justify-self: center;
  width: 1rem;
}
.even-roll[data-roll="1"] {
  transform: rotateX(360deg) rotateY(720deg) rotateZ(360deg);
}
.even-roll[data-roll="2"] {
  transform: rotateX(450deg) rotateY(720deg) rotateZ(360deg);
}
.even-roll[data-roll="3"] {
  transform: rotateX(360deg) rotateY(630deg) rotateZ(360deg);
}
.even-roll[data-roll="4"] {
  transform: rotateX(360deg) rotateY(810deg) rotateZ(360deg);
}
.even-roll[data-roll="5"] {
  transform: rotateX(270deg) rotateY(720deg) rotateZ(360deg);
}
.even-roll[data-roll="6"] {
  transform: rotateX(360deg) rotateY(900deg) rotateZ(360deg);
}
.odd-roll[data-roll="1"] {
  transform: rotateX(-360deg) rotateY(-720deg) rotateZ(-360deg);
}
.odd-roll[data-roll="2"] {
  transform: rotateX(-270deg) rotateY(-720deg) rotateZ(-360deg);
}
.odd-roll[data-roll="3"] {
  transform: rotateX(-360deg) rotateY(-810deg) rotateZ(-360deg);
}
.odd-roll[data-roll="4"] {
  transform: rotateX(-360deg) rotateY(-630deg) rotateZ(-360deg);
}
.odd-roll[data-roll="5"] {
  transform: rotateX(-450deg) rotateY(-720deg) rotateZ(-360deg);
}
.odd-roll[data-roll="6"] {
  transform: rotateX(-360deg) rotateY(-900deg) rotateZ(-360deg);
}
[data-side="1"] {
  transform: rotate3d(0, 0, 0, 90deg) translateZ(1.9rem);
}
[data-side="2"] {
  transform: rotate3d(-1, 0, 0, 90deg) translateZ(1.9rem);
}
[data-side="3"] {
  transform: rotate3d(0, 1, 0, 90deg) translateZ(1.9rem);
}
[data-side="4"] {
  transform: rotate3d(0, -1, 0, 90deg) translateZ(1.9rem);
}
[data-side="5"] {
  transform: rotate3d(1, 0, 0, 90deg) translateZ(1.9rem);
}
[data-side="6"] {
  transform: rotate3d(1, 0, 0, 180deg) translateZ(1.9rem);
}
[data-side="1"] .dot:nth-of-type(1) {
  grid-area: five;
}
[data-side="2"] .dot:nth-of-type(1) {
  grid-area: one;
}
[data-side="2"] .dot:nth-of-type(2) {
  grid-area: nine;
}
[data-side="3"] .dot:nth-of-type(1) {
  grid-area: one;
}
[data-side="3"] .dot:nth-of-type(2) {
  grid-area: five;
}
[data-side="3"] .dot:nth-of-type(3) {
  grid-area: nine;
}
[data-side="4"] .dot:nth-of-type(1) {
  grid-area: one;
}
[data-side="4"] .dot:nth-of-type(2) {
  grid-area: three;
}
[data-side="4"] .dot:nth-of-type(3) {
  grid-area: seven;
}
[data-side="4"] .dot:nth-of-type(4) {
  grid-area: nine;
}
[data-side="5"] .dot:nth-of-type(1) {
  grid-area: one;
}
[data-side="5"] .dot:nth-of-type(2) {
  grid-area: three;
}
[data-side="5"] .dot:nth-of-type(3) {
  grid-area: five;
}
[data-side="5"] .dot:nth-of-type(4) {
  grid-area: seven;
}
[data-side="5"] .dot:nth-of-type(5) {
  grid-area: nine;
}
[data-side="6"] .dot:nth-of-type(1) {
  grid-area: one;
}
[data-side="6"] .dot:nth-of-type(2) {
  grid-area: three;
}
[data-side="6"] .dot:nth-of-type(3) {
  grid-area: four;
}
[data-side="6"] .dot:nth-of-type(4) {
  grid-area: six;
}
[data-side="6"] .dot:nth-of-type(5) {
  grid-area: seven;
}
[data-side="6"] .dot:nth-of-type(6) {
  grid-area: nine;
}

@media (min-width: 900px) {
  .dice {
    perspective: 1300px;
  }
}
/* end dice stuff */